 .u-section-1 {
  background-image: url("images/425181-fireflies-wallpaper-1920x1080-1080p.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 445px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-1 {
  margin: -349px 67px 0 500px;
}

.u-section-1 .u-text-2 {
  margin: 30px 104px 0 427px;
}

.u-section-1 .u-btn-1 {
  margin: 41px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 4.625em;
  vertical-align: -13px;
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin: -84px 526px 60px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 367px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 4px;
    margin-left: 327px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 367px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }
}